/*reset css*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*MY CSS*/

.wrapper {
  width: 1050px;
  height: 550px;
  margin: auto;
  padding: 25px;
}

.elementbox {
  width: 43px;
  height: 41px;
  padding-top: 2px;
  margin: 1px 1px;
  border: 1px solid #333;
  text-align: center;
}

.elementbox h1, p {
  color: #333;
}

.elementbox p {
  font-size: 9pt;
}

.elementname {
  font-size: 14pt;
  font-weight: bold;
}

.elementdetail {
  font-size: 8pt;
}

.topaxis ul li {
  height: 45px;
  width: 45px;
  margin: 0px 2px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.topaxis p, ul {
  display: inline-block;
}

.topaxis p {
  width: 45px;
}

.sideaxis ul li {
  height: 30px;
  width: 45px;
  padding-top: 15px;
  margin-top: 1px;
  text-align: center;
}

.sideaxis {
  width: 45px;
  display:inline-block;
  vertical-align: top;
}

.blue {
  background-color: #6dcff6;
}

.red {
  background-color: #f5989d;
}

.green {
  background-color: #7cc576;
}

.yellow {
  background-color: #fff568;
}

.column {
  width: 45px;
  margin: 0px 1px;
  display: inline-block;
}
